<div class="row">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Edit Category</h1>
    </div>

    <div class="col-lg-12">
        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Edit Category</h6>
            </div>
            <div class="card-body">
                @Html.Raw(ViewData["message"])
                <form asp-action="Edit">
                    <div class="form-group">
                        <label for="ArticleID">ArticleID :</label>
                        <input type="text" class="form-control" name="ArticleID" readonly value="@Model.ArticleID" />
                    </div>
                    <div class="form-group">
                        <label for="CategoryID">Category ID :</label>
                        <input type="text" class="form-control" name="CategoryID" readonly value="@Model.CategoryID" />
                    </div>
                    <div class="form-group">
                        <label for="Title">Title :</label>
                        <input type="text" class="form-control" name="Title" value="@Model.Title" />
                    </div>
                       <div class="form-group">
                        <label for="Details">Details :</label>
                        <input type="text" class="form-control" name="Details" value="@Model.Details" />
                    </div>
                       <div class="form-group">
                        <label for="IsApproved">IsApproved:</label>
                        <input type="checkbox" class="form-check-input" name="IsApproved" value="@Model.IsApproved" @(Model.IsApproved ? "checked" : "") />
                    </div>
                       <div class="form-group">
                        <label for="Pic">Picture Name :</label>
                        <input type="text" class="form-control " name="Pic" value="@Model.Pic" />
                    </div>
                    <div class="form-group">
                        <input type="Submit" class="btn btn-success btn-sm" value="Edit" />
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>
